.city__search {
    display: none;
    padding: 0 46px;
    position: relative;
    .close {
        width: 40px;
        height: 40px;
        margin-left: calc(100% - 40px);
        display: flex;
        justify-content: center;
        align-items: center;
        justify-self: end;
        font-size: 50px;
        color: #fff;
        cursor: pointer;
    }
    form.search-form {
        position: relative;
        display: block;
        margin-top: 45px;
        i {
            position: absolute;
            top: 17px;
            left:15px;
            color: #616475;
        }
        input {
            width: 270px;
            height: 48px;
            border: 1px solid #E7E7EB;
            padding: 15px 15px 15px 34px;
            outline: none;
            font-weight: 500;
            font-size: 16px;
            color: #616475;
            background: #1E213A;
        }
        button {
            margin-left: 12px;
            width: 86px;
            height: 48px;
            background: #3C47E9;
            border: none;
            font-size: 16px;
            font-weight: 600;
            color: #E7E7EB;
            cursor: pointer;
        }
    }
    &_results {
        margin-top: 50px;
        display: grid;
        grid-template-rows: repeat(3, minmax(65px, 1fr) );
        grid-auto-rows: auto;
        row-gap: 27px;
        &-item {
            position: relative;
            display: flex;
            align-items: center;
            list-style-type: none;
            padding: 23px 12px;
            font-weight: 500;
            font-size: 16px;
            border: 1px solid #61647500;
            color: #E7E7EB;
            &:hover {
                cursor: pointer;
                border: 1px solid #616475;
            }
            &:hover i {
                display: block;
            }
            i {
                position: absolute;
                right: 0;
                margin-right: 20px;
                color: #616475;
                font-size: 12px;
                display: none;
            }
        }
    }
    
}