@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
body{
    background: #100E1D; 
}
.app {
    display: grid;
    grid-template-columns: 460px 0px 1fr;
    overflow-x: hidden;
}

